@mixin paragraph {
  font-family: Lato-Regular;
  text-align: center;
  width: 187px;
  font-size: 14px;
  color: $paragraph-color;
  margin-top: 11.7px;
  line-height: 24px;
  text-indent: 3px;
}

@mixin header {
  font-family: Lato-Regular;
  width: 270px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: $header-color;
  padding-top: 50.8px;
}
