@font-face {
  font-family: Lato-Regular;
  src: url(/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Light;
  src: url(/fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: Lato-Black;
  src: url(/fonts/Lato/Lato-Black.ttf);
}

@mixin center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
