* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  max-width: 100%;
}

@font-face {
  font-family: Lato-Regular;
  src: url(/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Light;
  src: url(/fonts/Lato/Lato-Light.ttf);
}
@font-face {
  font-family: Lato-Black;
  src: url(/fonts/Lato/Lato-Black.ttf);
}
@font-face {
  font-family: Lato-Regular;
  src: url(/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Light;
  src: url(/fonts/Lato/Lato-Light.ttf);
}
@font-face {
  font-family: Lato-Black;
  src: url(/fonts/Lato/Lato-Black.ttf);
}
header {
  max-width: 100%;
  margin-top: 0;
  background-color: #222533;
  height: 1280px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__div {
  width: 1052px;
  padding-top: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__p-first {
  font-family: Lato-Regular;
  font-size: 30px;
  letter-spacing: 9px;
}

.header__p-first span {
  color: #1abc9c;
  width: auto;
  height: auto;
}

.header__p-second {
  font-family: Lato-Light;
  font-size: 30px;
  margin-top: 11px;
  margin-left: -9px;
  line-height: 36px;
  letter-spacing: 0;
}

.header__header {
  font-size: 3rem;
  font-family: Lato-Black;
  margin: 0;
  margin-top: 9px;
  margin-left: -10px;
}

.header__div-button {
  display: flex;
  width: 420px;
  height: 60px;
  margin-top: 40px;
}

.header__btn {
  width: 200px;
  height: 60px;
  margin-right: 20px;
  text-transform: uppercase;
  font-family: Lato-Black;
  color: white;
  font-size: 18px;
  border-radius: 3px;
}

.header__btn-first {
  background-color: #222533;
  border: 2px solid #ffffff;
  opacity: 100%;
}

.header__btn:last-child {
  margin: 0;
  background-color: #1abc9c;
  border: none;
}

.header__div-slide {
  margin-top: 40px;
  width: 86px;
  height: 14px;
  display: flex;
}

.header__div-slide-circle1 {
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}

.header__div-slide-circle2 {
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}

.header__div-slide-circle3 {
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}

.header__div-slide-circle4 {
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}

.circle-active {
  width: 6px;
  height: 6px;
  background-color: #1abc9c;
  margin: auto;
  border-radius: 50%;
  margin-top: 50%;
  transform: translate(0, -50%);
}

.circle-last {
  margin: 0;
}

/* /*---------------
------------------
navigation
-----------------
*/
.nav-section {
  width: 100%;
  height: 90px;
  /* border: 1px solid #707070; */
  background-color: white;
  box-shadow: 0 -3px 20px inset #707070;
}

.navigation {
  display: flex;
}

.logo__div {
  display: flex;
  margin-top: 24px;
}

.logo__div img {
  margin: 0;
}

.logo__div h3 {
  font-family: Lato-Regular;
  font-size: 35.69px;
  color: #34495e;
  margin-left: 14.1px;
  opacity: 100%;
  font-weight: 300;
}

.logo__div span {
  font-family: Lato-Black;
  color: #2c3e50;
}

.nav-ul {
  width: 904px;
  display: flex;
  /* justify-content: space-between; */
  margin-top: 35px;
  margin-left: 150px;
}

.nav-li {
  list-style: none;
  font-family: Lato-Regular;
  font-size: 15px;
  margin-right: 46.5px;
}

.nav-link {
  text-decoration: none;
  color: #a1b1bc;
}

/* 
---------
info Section
---------
*/
.info {
  display: flex;
  width: 100%;
  height: 436px;
  /* margin-top: 124px; */
  /* margin-left: 373.9px; */
  background-color: white;
}

.info__continer {
  display: flex;
  margin-top: 124px;
}

.info__div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 210px;
  border: 1px solid #dbe7ef;
  margin-right: 28px;
  border-radius: 5px;
  position: relative;
}

.info__div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 210px;
  border: 1px solid #dbe7ef;
  margin-right: 28px;
  border-radius: 5px;
  position: relative;
}

.info__div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 210px;
  border: 1px solid #dbe7ef;
  margin-right: 28px;
  border-radius: 5px;
  position: relative;
}

.info__div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 210px;
  border: 1px solid #dbe7ef;
  margin-right: 28px;
  border-radius: 5px;
  position: relative;
}

.info__div h4 {
  font-family: Lato-Regular;
  width: 270px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
  padding-top: 50.8px;
}

.info__div p {
  font-family: Lato-Regular;
  text-align: center;
  width: 187px;
  font-size: 14px;
  color: #a1b1bc;
  margin-top: 11.7px;
  line-height: 24px;
  text-indent: 3px;
}

.circle1 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #dbe7ef;
  top: -30px;
  background-color: white;
}

.circle2 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #dbe7ef;
  top: -25px;
}

.info__div img {
  position: absolute;
  width: 16px;
  height: 18px;
  top: -9px;
}

/*# sourceMappingURL=index.css.map */
